@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}

.cabecalho-logo{
    height: 40px;
}

.cabecalho-menu{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    padding: 20px;
}

.cabecalho-input-form{
    border: 1px solid #9FA3A6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 700px;
    height: 40px;
}

.cabecalho-itens-menu{  
    font-size: 16px;
    font-weight: 700;
    color: black;

}

.cabecalho-img-itens-menu{
    height: 18px;
    padding-right: 10px; 
}

.cabecalho-menu-secundario{
    background-color: black;
    height: 45px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

}

.cabecalho-links-secundarios{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.cabecalho-menu-paginas{
    justify-content: flex-start;
    display: flex;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

.cabecalho-links-menu-pag{
    color: #40464D;
    font-size: 12px;
}

.cabecalho-icon-menu-pag{
    height: 8px;
    
} /*fim estilização do header*/

.conteudo-sessao1{
    display: flex;
    flex-direction: row;
    border: solid #E9E9E9 1px;
}

.conteudo-esquerdo-sessao1{
    width: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo-esquerdo-img{
    height: 400px;
}

.conteudo-esquerdo-texto{
    font-size: 14px;
    font-weight: 500;
}

.conteudo-direito-sessao1{
    margin: 10px;
    width: 50%;
}

.cont-direito-texto-inicial{
    color: #40B25C;
    font-size: 12px;
    font-weight: 600;
}

.cont-direito-texto-principal{
    font-size: 20px;
    font-weight: 600;
    color: #030303;
    padding-top: 8px;
    padding-bottom: 10px;
}

.cont-direito-texto-referenciaProd{
    color: #40464D;
    font-size: 12px;
    font-weight: 600;

}

.cont-direito-img-circulos{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cont-direito-circulos{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 5px;
}

.img-circulos{
    height: 32px;
    border: solid #CFD1D2 1px;
    border-radius: 100px;
    padding: 2px;
    margin-top: 4px ;
    margin-bottom: 20px;
}

.cont-direito-medidas{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
}

.cont-direit-titulo-medidas{
    color: #030303;
    font-size: 14px ;
    padding-bottom: 10px;
   
}

.cont-direito-medidas-prod{
    display: flex;
    flex-direction: row;
    gap: 10px;
   
}

.cont-medidas{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #CFD1D2 1px;
    width: 70px;
    height: 48px;
    border-radius: 4px;

}

.cont-direito-entrega{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 32px;

    width: 330px;
    height: 112px;

    border-radius: 4px ;
    box-sizing: border-box;
    border: solid #E9E9E9 ;
}

.cont-textos-bloco-entrega{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-left: 25px;
}
.cont-titulo-entrega{
    font-weight: 600;
    font-size: 14px;
    color: #030303;
    padding-bottom: 5px;
}

.cont-text-entrega{
    padding-bottom: 5px;
    color: #40464D;
}/*fim sessao 1*/


.conteudo-sessao2, .conteudo-sessao3{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
    padding: 10px;
}

.texto-inicial-sessao2, .texto-inicial-sessao3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}

.cont-titulo-sessao2, .cont-titulo-sessao3{
    font-weight: 600;
    font-size: 20px;
    color: #030303;

}

.cont-imagens-sessa2, .cont-imagens-sessa3{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

/*textos sessão 2*/

.cont-texto-sessao2, .cont-texto-sessao3{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    border-top: solid #E9E9E9 1px;
    padding-left: 20px;
    margin-bottom: 60px;
}

.descricao-prod-sessao2, .descricao-prod-sessao3{
    font-size: 14px;
    color: #030303;
    padding-bottom: 10px;
}

.preco-antigo-prod-sessao2, .preco-antigo-prod-sessao3{
    font-size: 12px;
    color: #9FA3A6;
    padding-bottom: 10px;
}

.preco-prod-sessao2, .preco-prod-sessao3{
    font-weight: 600;
    font-size: 20px;
    color: #030303;
    padding-bottom: 10px;
    font-weight: 600;
}

.parcela-preco-sessao2, .parcela-preco-sessao3{
    font-size: 14px;
    color: #40464D;
}
